body
{
    background-color: rgb(223, 223, 204);

}

.container{
    margin: auto;
    margin-top: 20px;
    /* border: 3px solid black; */
}
.col-md-, .col-lg-4{
    margin-bottom: 20px;
}
.sty{
    font-size: 18px !important;
    color: black !important;
}
.num{
    width: 80px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}
.uk-border-circle{
    width: 100px !important;
    height: 100px !important;
}
.fa-cart-arrow-down{
    color:white;
    font-size: 50px;
    cursor: pointer;
    padding-left: 20px;
    
}
.card-img-top
{
    height: 210px;
}

.links li a {
    font-size: 18px;
    font-weight: lighter;
    color: #fff;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  
  .links li a:hover {
    color: #f9f9f9;
  }
  .logo, ul {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .logo {
    font-size: 34px;
    font-weight: bold;
    color:rgb(61, 58, 58);
  }